<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <ion-card-header>Emitidas</ion-card-header>
          <ion-card-content><h2>{{ senhasService.totalEmitidas }}</h2></ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <ion-card-header>Atendidas</ion-card-header>
          <ion-card-content><h2>{{ senhasService.totalAtendidas }}</h2></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>Status das Filas (Aguardando)</ion-card-header>
    <ion-item>Geral (SG): {{ senhasService.senhasArray.SG.length }}</ion-item>
    <ion-item>Prioritária (SP): {{ senhasService.senhasArray.SP.length }}</ion-item>
    <ion-item>Exame (SE): {{ senhasService.senhasArray.SE.length }}</ion-item>
  </ion-card>
</ion-content>